* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik' , san;
    transition: 0.3s;
}

.header{
   background-color: #ebebeb;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   padding: 10px 20px;
   top: 0;
   position: fixed;
}
.navbar{
    /* background-color: white; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display: flex;
    /* margin-left: 500%; */
}
.menu a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-left: 10px;
}

.logo{
    margin-right: auto;
    cursor: pointer;
}

.logo img{
    height: 50px;
}


body{
    margin: 0;
}

main .gambarorang{
    
    width: auto;
    height: 150px;
    size: 100;
    float: right;
    margin-top: -210px;
    margin-right: 250px;
    padding-top: 50px;
}

h1{
    font-size: 15px;
}

h2{
    font-size: 15px;
}

.header1 p{
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header1 {
    margin-top: 200px;
    margin-left: 150px;
    margin-bottom: 100px;
}

.header1 h1, h2{
    margin-top: 10px;
    margin-bottom: 10px;
}

.header1 .button .tombol {
    border: none;
    padding: 10px 40px; 
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    background: #ebebeb;
    color: #000;
    text-decoration: none;
}

.header1 .button .tombol2 {
    border: none;
    padding: 10px 40px; 
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    background: #ebebeb;
    color: #000;
    text-decoration: none;
    margin-left: 50px;
}

.header1 .button .tombol:hover{
    background-color: rgb(151, 151, 151);
    color: white;
    transition: 0.3s;
} 

.header1 .button .tombol2:hover{
    background-color: rgb(151, 151, 151);
    color: white;
    transition: 0.3s;
} 




.header1 .button{
    display: -webkit-box;
    display: inline-block;
    margin-top: 10px;
    position: flex;
    line-height: 24px;
    border-radius: 30px;
}

.penjelasan {
   justify-content: space-between;
   margin-left: 10%;
   margin-right: 10%;
   margin-top: 50px;
   margin-bottom: 50px;
}

.p3{
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
}

.kakibanget{
    background: #85cd88;
    color: #fff;
    text-align: center;
    height: 100px;
}

.kakilogo{
    padding-top: 10px;
}

.p1{
    margin-bottom: 10px;
}

hr{
    margin-top: 300px;
     
}
