* {
  font-family: "Rubik", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0; /* Tambahkan agar tidak ada margin pada body */
}

.container {
  width: 500px;
  background: #ebebeb;
  border: none;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  padding: 20px; /* Tambahkan padding agar kontennya tidak melekat pada tepi container */
  text-align: center;
}

.container .logo img {
  max-width: 100px;
}

form {
  margin-top: -30px;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
}

p {
  font-size: 20px; /* Ubah ukuran font agar tidak terlalu besar */
  margin-top: 10px; /* Sesuaikan margin untuk lebih teratur */
  margin-bottom: 10px;
}

.container form {
  display: flex;
  flex-direction: column;
}

.container form a {
  text-indent: 0; /* Ubah agar text-indent tidak menyembunyikan link */
  margin-top: 10px; /* Sesuaikan margin untuk lebih teratur */
}

.container form input {
  margin: 10px 0; /* Sesuaikan margin agar lebih teratur */
  height: 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px; /* Tambahkan padding agar input tidak terlalu rapat dengan border */
}

.text-merah {
  color: red;
}

input,
input::placeholder {
  width: 50%;
  text-indent: 10px;
  background-color: #dfdfdf;
  outline: none;
}

hr {
  border: 1px solid black;
  width: 100%; /* Sesuaikan width agar horizontal line mengisi lebar container */
  margin: 20px 0; /* Sesuaikan margin untuk penataan yang lebih baik */
}

.logo {
  margin-bottom: 20px; /* Sesuaikan margin agar lebih teratur */
}

button {
  margin: 10px 0;
  width: 50%;
  height: 30px;
  border: none;
  background-color: #dfdfdf;
  border-radius: 5px;
  cursor: pointer; /* Tambahkan pointer cursor pada tombol */
}

button:hover {
  background-color: rgb(131, 129, 129);
  color: white;
  transition: 0.3s;
}
